@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:600&display=swap');


.jumbotron {
    color: white;
    background-image: url("./images/homepagehero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  #plantriphero {
    background-image: url("./images/plantriphero.png");
}

  .full-width{
      background-image: url("./images/full-width.png");
      height: 330px;
  }

  /* #plantriphero{
    background-image: url("./images/plantriphero.png");
  } */

    .nav-item{
      margin-right: 15px;
    }

    .create-account-btn{
      margin-top: 50px !important;
    }

  .map{
    height:450px;
    width: 1200px;
    background-color: #f6f6f6;
  }

  #profilepic{
    height: 250px;
    width: 250px;
    background-color: #f6f6f6;
  }

  .savedTrip{
    height: 250px;
    width: 1200px;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 52px;
    color: #D74F08;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 36px;
    color: #D74F08;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 32px;
    color: #232528;
  }

  p{
      font-family:'Open Sans', sans-serif;
      font-size: 16px;
      color: #232528;
  }

  .lead{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
  }


  .btn-primary{
      background-color: #F2BA07 !important;
      width: 200px;
      height: 50px;
      font-family: 'Open Sans', sans-serif;
      color: #232528 !important;
      text-transform: uppercase;
      border: none !important;
      border-radius: 0 !important;
      margin: 0 auto;
      padding: 0;
      display: table-cell;
      vertical-align: middle;
  }


  .form-control:focus {
    border-color: #F2BA07;
    box-shadow: 0 0 0 1px #F2BA07;
    background-color: #fefefe;
} 

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.fa-search{
   
    margin-left: 10px;
}

.map{
  height: 450px;
  width: 1200px;
  background-color: #f6f6f6;

}

#profilepic{
  height: 250px;
  width: 250px;
  background-color: #f6f6f6;
}

.savedTrip{
  height: 250px;
  width: 1200px;
  background-color: #f6f6f6;
  
}

.card{
  border: none !important;
}

.navbar{
  border: none !important;
}

#navlogin{
  width: 120px;
}