@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:600&display=swap');


.jumbotron {
    color: white;
    background-image: url("./images/homepagehero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  #plantriphero {
    background-image: url("./images/plantriphero.png");
}

  .full-width{
      background-image: url("./images/full-width.png");
      height: 330px;
  }

  /* #plantriphero{
    background-image: url("./images/plantriphero.png");
  } */

    .nav-item{
      margin-right: 60px;
    }

    .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
        text-decoration: none !important;
    }

    .secondBlock{
      margin-bottom: 40px;
    }

    input{
      margin-top: 7px;
      height: 35px;
    }

    .create-account-btn{
      margin-top: 50px !important;
    }

  .map{
    height:450px;
    width: 1200px;
    background-color: #f6f6f6;
  }

  #profilepic{
    height: 250px;
    width: 250px;
    background-color: #f6f6f6;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 52px;
    color: #D74F08;
    margin-bottom: 20px;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 36px;
    color: #D74F08;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 32px;
    color: #232528;
  }

  p{
      font-family:'Open Sans', sans-serif;
      font-size: 16px;
      color: #232528;
  }

  .footerStyle{
    background-color: #232528;
  }

  .footerLinks{
    color: #fff;
  }

  .lead{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
  }


  .btn-primary{
      background-color: #F2BA07 !important;
      width: 200px;
      height: 50px;
      font-family: 'Oswald', sans-serif;
      color: #232528 !important;
      text-transform: uppercase;
      border: none !important;
      border-radius: 0 !important;
      margin: 0 auto;
      padding: 0;
      display: table-cell;
      vertical-align: middle;
  }


  .form-control:focus {
    border-color: #F2BA07;
    box-shadow: 0 0 0 1px #F2BA07;
    background-color: #fefefe;
} 

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.fa-search{
   
    margin-left: 10px;
}

.map{
  height: 450px;
  width: 1200px;
  background-color: #f6f6f6;

}

.listSearchResults{
  margin-top: 60px;
  margin-bottom: 60px;
}

.saved-Trips{
  margin-top: 60px;

}
.tripFormStyle{
  margin-top: 20px;
  margin-bottom: 20px;
}

.account-Details{
  margin-top: 60px;
  margin-bottom: 60px;

}

#profilepic{
  height: 250px;
  width: 250px;
  background-color: #f6f6f6;
}

.savedTrip{
  height: 250px;
  width: 1200px;
  background-color: #f6f6f6;
  overflow: auto;
}

.card{
  border: none !important;
}

.navbar{
  border: none !important;
}

#navlogin{
  width: 120px;
}

.btn-primary:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

